<h1>Edit Your Program</h1>

<%= render partial: 'form',
  locals: {
    program_plan: @program_plan,
    standard_exercises_list: @standard_or_custom_exercises,
    nested_field_text: 'Add more exercises to this program',
    nested_exercises_list: [],
    save_text: 'Save Changes'
  }
%>
