<h1>Edit Your Program</h1>

<%= render partial: 'form',
  locals: {
    program_plan: @program_plan,
    show_standard_exercises: false,
    nested_field_text: "Edit this program's exercises",
    nested_exercises_list: @program_plan.exercises,
    save_text: 'Save Changes'
  }
%>
