<h1>Featured Programs</h1>
<% @program_plans.each do |plan| %>
  <% if plan.featured || plan.user == @user %>
    <h3><%= link_to plan.name, program_plan_path(plan) %></h3>
    <h3><%= plan.description %></h3>
  <% end %>
<% end %>


<% if @user.program_plan.nil? %>
  <br><h2>If you want to start a custom program, <%= link_to 'click here', new_program_plan_path %></h2>
<% end %>
