<h1>Start your own custom workout program!</h1>
<%= render partial: 'form',
  locals: {
    program_plan: @program_plan,
    standard_exercises_list: @standard_exercises,
    nested_field_text: 'Custom Exercises',
    save_text: 'Create Your Program'
  }
%>
