<h1>Customize Your Program</h1>
<br><br>

<%= render partial: 'form',
  locals: {
    program_plan: @program_plan,
    show_standard_exercises: true,
    nested_field_text: 'Custom Exercises',
    nested_exercises_list: nil,
    save_text: 'Create Program',
  }
%>
