<h1>Start your own custom workout program!</h1>
<%= render partial: 'form',
  locals: {
    program_plan: @program_plan,
    exercise_method: :dup_exercise_ids,
    standard_exercises_list: @standard_exercises,
    nested_field_text: 'Custom Exercises',
    nested_exercises_list: nil,
    save_text: 'Create Program',
  }
%>
