<h1><%= @program_plan.name %></h1>
<h2><%= @program_plan.description %></h2>
<% @program_plan.links.each do |link| %>
  <%= link_to link.description, link.name, target: :blank %>
<% end  %>

  <h2>Exercises in this program: </h2>

<ul>
<% @program_plan.exercises.each do |exercise| %>
  <li><%= link_to exercise.name, program_plan_exercise_path(@program_plan, exercise) %></li>
<% end %>
</ul>
