<h1>Log In</h1>

<%= render 'users/flash' %>

<%= form_for @user, :url => login_path do |f| %>
  <%= render partial: 'users/user_form', locals: {
    f: f, user: @user, attributes: @user.attributes_list.delete_if {|a| a == 'name'}}
  %>
  <%= f.submit 'Log In' %>
<% end %>
