<div class='nested-fields'>
  <div class="column-6 mb3">
  <%= f.collection_select(:name, @program_plan.exercises, :name, :name) %>
  <%= link_to_remove_association "remove exercise", f %>
  </div>
</div>
