

<container id="entry-nav">
  <button id="js-earlier-entries" class="button"><</button>
  <h1>
    <%= @journal.name %>
    <p id="dateInfo"></p>
  </h1>
  <button id="js-later-entries" class="button">></button>
</container>

<div id="entries">
</div>



<script type="text/javascript">
  // If I use let/const, page will try to reload the variables if I rejoin from another section, and ajax will not work.
  var buttonEarlier = document.getElementById('js-earlier-entries');
  var buttonLater = document.getElementById('js-later-entries');
  var entryDiv = document.getElementById('entries');
  var month = new Date().getMonth() + 1;
  var year = new Date().getFullYear();

  // Calling function rather than using DOMContentLoaded, because page won't reload ajax except on refresh.
  (function(){
    let url = '<%= journal_entries_path %>';
    updateDateInfo(0);
    getEntries(url);
    buttonEarlier.addEventListener('click',function(e) {
      updateDateInfo(-1);
      getEntries(url);
    });
    buttonLater.addEventListener('click', function(e) {
      updateDateInfo(1);
      getEntries(url);
    });
  })()

  function updateDateInfo(change) {
    month += change;
    if (month > 12) {
      year += 1;
      month = 1;
    } else if (month < 1) {
      year -= 1;
      month = 12;
    }
    let dateInfo = document.getElementById('dateInfo');
    dateInfo.textContent = `${month}/${year}`;
  }

  function getEntries(url) {
    fetch(url, {
      method: 'GET',
      headers: {
        'Accept': 'application/json',
      }
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(data) {
      let entriesHTML = '';
      let selectedEntries = [];
      data.entries.forEach(function(entry) {
        if (entry.date.slice(5, 7) === String(month) & entry.date.slice(0, 4) === String(year)) {
          selectedEntries.push(entry);
        }
      })
      selectedEntries.sort(function(a, b) {
        let aValue = Number(a.date.slice(8, 10));
        let bValue = Number(b.date.slice(8, 10));
        return aValue - bValue;
      })
      selectedEntries.forEach(function(entry) {
        let entryHTML = `<h4>${entry.date.slice(0, 10)}</h4>`;
        let exercisesHTML = '';
        let commentsHTML = entry.comments;
        entry.exercises.forEach(function(exercise) {
          exercisesHTML += `<p>${exercise.name} - ${exercise.weight}</p>`;
        })
        let entryElement = `<div class="entry column-6">${entryHTML + exercisesHTML + commentsHTML}</div>`;
        entriesHTML += entryElement;
      })
      entryDiv.innerHTML = entriesHTML;
    })
  }

</script>
