<ul>
  <% @journal.entries.each do |entry| %>
    <li>
      <%= entry.date.strftime('%m-%d-%Y') %><br>
      Exercises: <% entry.exercises.each do |exercise| %>
        <%= exercise.name %>- <%= exercise.weight %>
      <% end %>
      Comments: <%= entry.comments %><br>
    </li>
  <% end %>
</ul>
