<h1>Sign Up</h1>

<%= render 'flash' %>

<%= form_for @user, :url => signup_path do |f| %>
  <%= render partial: 'user_form', locals: {f: f, user: @user, attributes: @user.attributes_list} %>
  <%= f.submit 'Sign Up'%>
<% end %>
