<h1>Your Stats</h1>

<form id="height=form" action="#" class="column-6">
  <label for="js-height-params">Height:</label>
  <input name="" value="" id="js-height-params">
  <input type="submit" id="js-height-submit">
</form>


<form id="weight-form" action="#" class="column-6">
  <label for="js-weight-params">Weight:</label>
  <input name="" value="" id="js-weight-params">
  <input type="submit" id="js-weight-submit">
</form>
