 <!-- needs this for some reason. -->
<h1>Welcome</h1>
<%= link_to 'Sign Up', signup_path %>, or <%= link_to 'Log in', login_path %>

<br>
<%= link_to image_tag('facebook_login_icon.png'), '/auth/facebook' %>
<br>
