<div class='nested-fields'>
  <%= f.collection_select(:name, @program_plan.exercises, :name, :name) %>
  <%= f.label :weight %>
  <%= f.text_field :weight %>
  <%= link_to_remove_association "remove exercise", f %>
</div>
