
<div class='top-bar'>
  <h3>
    Your Current Program: <%= link_to @program_plan.name, program_plan_path(@program_plan) %>
    <br>Routine:<br>
    <% @program_plan.days.each do |day| %>
      <div class="workout-link">
        <%= day.name %>
      </div>
    <% end %>
  </h3>
</div>

<h2>Log your workout</h2>
<%= render partial: 'form',
  locals: {
    journal: @journal,
    program_plan: @program_plan,
    entry: @entry,
    nested_exercises_list: @program_plan.exercises
  }
%>


<script type="text/javascript">
  let workouts = document.querySelectorAll('.workout-link');
  for (let i = 0; i < workouts.length; i++) {
    workouts[i].addEventListener('click', function(e){
      let allForms = document.querySelectorAll('.workout-form');
      for (let i = 0; i < allForms.length; i++) {
        allForms[i].style.display = 'none';
      }
      let currentForm = document.querySelector(`.${workouts[i].textContent.trim().split(' ').join('')}`);
      currentForm.style.display = 'block';
    })
  }
</script>
